<div class="m-4 mt-0">
    <h1>{{ title }}</h1>
</div>

<div class="container">
    <h2>My Pokémon team</h2>
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Type</td>
                <td>Type2</td>
                <td>Attack</td>
                <td>Level</td>
            </tr>
        </thead>
        <tbody>
            @for (pokemon of pokemonList; track pokemon.name) {
                <tr (click)="attack(pokemon)">
                    <td [class.level100]="pokemon.level === 100">{{ pokemon.name }}</td>
                    <td>{{ pokemon.type }}</td>
                    <td>{{ pokemon.type2 | optional : '/' }}</td>
                    <td>{{ pokemon.attack }}</td>
                    <td>{{ pokemon.level }}</td>
                    <td><img class="miniature" [src]="'https://img.pokemondb.net/artwork/avif/' + pokemon.name + '.avif'" [alt]="pokemon.name"></td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Add Pokémon</h2>
    <p>Coming soon!</p>

    <h2>Pokémon shop (prices of {{ today | date : 'dd/MM/YYYY'}})</h2>
    <ul>
        <li>Poké ball {{ 200 | currency : 'JPY' }} </li>
        <li>Potion {{ 300 | currency : 'JPY' }} </li>
    </ul>
</div>